<div class="form-Atendimento">
    <div class="titulo">
      <h1>Cadastrar Atendimento</h1>
    </div>
    <form class="formCarro" (ngSubmit)="onSubmit(formulario)" #formulario="ngForm">
      
        <label class="nome"> 
        NOME: 
        <input name="nome" ngModel>
      </label>

      <label class="email">
        EMAIL:  
        <input name="email" ngModel>
      </label>
  
      <label class="tipo">
        TIPO DE ATENDIMENTO:  
        <input name="tipo" ngModel>
      </label>

      <label class="valor">
        VALOR DO ATENDIMENTO (R$):  
        <input name="valor" ngModel>
      </label>
  
      <label class="obs">
        OBSERVAÇÕES:  
        <input name="obs" ngModel>
      </label>
      
      <button type="submit">CADASTRAR ATENDIMENTO</button>
    </form>
  </div>
  
