<div class="formConteiner">
    <form class="formUsuario" [formGroup]="formulario" (ngSubmit)="onSubmit()">
          
        <mat-form-field class="username">
            <label>NOME DE USUARIO:</label>
            <input matInput formControlName="username">
        </mat-form-field>
  
        <mat-form-field class="senha">
            <label>SENHA:</label>
            <input matInput formControlName="senha" type="password">
        </mat-form-field>
    
        <mat-form-field class="email">
            <label>EMAIL:</label>
            <input matInput formControlName="email" type="email">
        </mat-form-field>
  
        <mat-form-field class="nome">
            <label>NOME COMPLETO:</label>
            <input matInput formControlName="nome">
        </mat-form-field>
  
        <mat-form-field class="telefone">
            <label>TELEFONE:</label>
            <input matInput formControlName="telefone">
        </mat-form-field>
  
        <mat-form-field class="endereco">
            <label>ENDEREÇO:</label>
            <input matInput formControlName="endereco">
        </mat-form-field>
  
        <mat-form-field class="dataNascimento">
            <label>DATA DE NASCIMENTO:</label>
            <input matInput formControlName="dataNascimento" type="date">
        </mat-form-field>



        <mat-form-field class="genero" >
            <mat-label>GÊNERO:</mat-label>
            <mat-select formControlName="genero">
              <mat-option value="masculino">Masculino</mat-option>
              <mat-option value="feminino">Feminino</mat-option>
              <mat-option value="outro">Outro</mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field class="profissao" >
            <mat-label>PROFISSÃO:</mat-label>
            <mat-select formControlName="profissao">
              <mat-option value="engenheiro">Engenheiro</mat-option>
              <mat-option value="professor">Professor</mat-option>
              <mat-option value="mecanico">Mecânico</mat-option>
              <mat-option value="medico">Médico</mat-option>
              <mat-option value="motorista">Motorista</mat-option>
            </mat-select>
          </mat-form-field>
  
        <button mat-raised-button type="submit">SUBMIT</button>
    </form>
  </div>