#caixa{
    height: 100px;
    width: 100px;
    position: relative;
    left: 10px;
    top: 10px;
    background-color: blueviolet;
}

#caixa2{
    height: 100px;
    width: 100px;
    position: relative;
    left: 10px;
    top: 20px;
    border-radius: 70%;
    background-color: blue;
}
#caixa3{
    height: 100px;
    width: 100px;
    position:relative;
    left: 10px;
    top: 30px;
    background-color: red;
}

#caixa4{
    height: 50px;
    width: 50px;
    position: relative;
    top: 10px;
    left: 10px;
    background-color: yellow;
}

#caixa5{
    height: 20px;
    width: 300px;
    position: fixed;
    bottom: 20px;
    right: 0px;;
    border: solid;
    
}

#caixa6{
    height: 20px;
    width: 300px;
    position: relative;
    left: 10px;
    top: 40px;
    border: solid;
    border-color: darkorchid;
}